<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blog Poster</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/posts">All Posts</a>
        <a href="/posts/new">New Post</a>
      </nav>
    </header>
    <div class="container">
      <h1>Blog Poster</h1>
      <%= yield %>
    </div>
  </body>
</html>